<div class=" flex flex-col items-center  justify-center pt-10 pb-10 footer-container">
            <div class="input-container flex flex-col ">
                 <p class=" text-center font-assistant mb-5 text-[18px]">Subscribe to our emails</p>
                 <div class="">
                     <input class="" placeholder="Email">
                     <i class="fa-solid fa-arrow-right"></i>
                 </div>
            </div>
            <div class="footer-icon-wrapper">
                <div class="footer-items">
                    <i class="fa fa-cc-visa fa-lg" aria-hidden="true"></i>
                </div>
                <div class="footer-items">
                    <i class="fa-brands fa-cc-mastercard fa-lg"></i>
                </div>
                <div class="footer-items">
                    <i class="fa-brands fa-paypal fa-lg"></i>
                </div>
                <div class="footer-items">
                    <i class="fa-brands fa-cc-diners-club fa-lg"></i>
                </div>
                <div class="footer-items">
                    <i class="fa-brands fa-cc-discover fa-lg"></i>
                </div>
            </div>
</div>