@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
html,body,.layout-container,#shopify-section-template--17339922088178__template{
    @apply h-full;
}

.layout-container{
    @apply mx-auto px-2 sm:px-4 lg:px-12;
}
body{
    font-family: 'Poppins', sans-serif;
}
.mnavbar{
    background-color: #f9ece6;
    @apply  rounded-t-[1rem];
}
.mnavbar2{
    background-color: #ffff;
    @apply  rounded-[1rem] border-2 shadow-inner;
}

.mnavbar_link{
    color:#514f4f;
    font-weight: 400;
    font-size: 18px;
}
.header-brand{
    color:#000000;
    font-weight: 900;
    font-size: xx-large;
    @apply  text-center my-5;
}
.header_icon_color{
    color:#000000 !important;
}
.carousel_container{
    background-color: pink;
    height: 400px;
}

.contact_placeholder_styles{
    @apply placeholder:text-[#101010];
}

.contact_text_input{
    font-size: 17px;
    @apply contact_placeholder_styles;
    @apply border border-[#919191] p-4 w-full focus-visible:outline-none text-[#101010];
}

.contact_input_wrapper{
    @apply mb-4;
}

.duration_status{
    background-color: #ffffff;
    @apply absolute top-3 left-5 rounded-full p-3;
}
.product_box{
    background-color: #eeeeee;
    @apply relative h-96;
}
.product_img_container{
    @apply h-[85%] px-2 flex justify-center items-center;
}
.product_detail{
    @apply px-2 flex justify-between;
}
.product_img_wrapper{
    @apply h-[200px] w-[200px];
}
.product_img{
    @apply w-full h-full block;
    mix-blend-mode: multiply;
}

.form_submit_btn{
    @apply bg-[#db4f66] text-white w-[200px] h-[60px];
}

