<p class="text">
    <h1>Welcome to block text </h1>
  {{ block.settings.text }}
</p>

{% schema %}
{
  "name": "Text",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Welcome to our shop!"
    }
  ]
}
{% endschema %}