<!DOCTYPE html>
<html>
<head>
    <title>Title of the document</title>
    {{"app.css" | asset_url | stylesheet_tag}}
    {% comment %} {{"https://kit.fontawesome.com/cd72f6eaef.js" | asset_url |  script_tag}} {% endcomment %}
     <script src="https://kit.fontawesome.com/cd72f6eaef.js" crossorigin="anonymous"></script>
    {{ content_for_header }}
</head>

<body>
    <div class="mx-auto px-2 sm:px-4 lg:px-12">
        {{ content_for_layout }}
    </div>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.5/dist/cdn.min.js"></script>
</body>
</html>
