<!DOCTYPE html>
<html>
<head>
    <title>Title of the document</title>
    {{"app.css" | asset_url | stylesheet_tag}}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    {{ content_for_header }}
    <script src="https://kit.fontawesome.com/cd72f6eaef.js" crossorigin="anonymous"></script>
    {% comment %} <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.5/dist/cdn.min.js"></script> {% endcomment %}
</head>

<body>
    <div class="layout-container">
        {{ content_for_layout }}
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@alpinejs/mask@3.x.x/dist/cdn.min.js"></script>
    {% comment %} <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.5/dist/cdn.min.js"></script> {% endcomment %}
</body>
</html>
