<style>
    .shopify-section{
         height: 100%;
    }
</style>
<div class="w-full flex justify-center h-full items-center">
    <div class="w-full max-w-[600px]">
        <div class="shadow-2xl p-8 ">
            <h1 class="mb-4 font-bold  text-2xl {{section.settings.header_aligment}}">LOGIN IN</h1>
            {% form 'customer_login'%}
                <div class="">
                    {{ form.errors | default_errors }}
                    <div class="contact_input_wrapper">
                            <input class="contact_text_input" placeholder="Email" name="customer[email]" id="email" @keyup="console.log('input entered')"/>
                    </div>
                    <div class="contact_input_wrapper">
                        <input type="password" class="contact_text_input" placeholder="Enter Password" name="customer[password]" id="password"/>
                    </div>
                    <div class="contact_input_wrapper flex {{section.settings.submit_btn_aligment}}">
                            <input type="submit"  class="form_submit_btn" value="Sign in"/>
                    </div>
                </div>
            {%endform%}
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Login Section",
    "settings": [
                    {
                        "type": "radio",
                        "id": "header_aligment",
                        "label": "Header alignment",
                        "options": [
                            {
                                "value": "text-left",
                                "label": "left"
                            },
                            {
                                "value": "text-center",
                                "label": "center"
                            },
                            {
                                "value": "text-right",
                                "label": "right"
                            }
                        ],
                        "default": "text-left"
                    },
                    {
                        "type": "radio",
                        "id": "submit_btn_aligment",
                        "label": "alignment submit button",
                        "options": [
                            {
                                "value": "justify-left",
                                "label": "left"
                            },
                            {
                                "value": "justify-center",
                                "label": "center"
                            },
                            {
                                "value": "justify-right",
                                "label": "right"
                            }
                        ],
                        "default": "justify-center"
                    }
                ]
}
{% endschema %}